/* Navigation Bar */

.navbar {
    background-color: #133C55;
}

.navbar a {
    text-decoration: none;
    color: #fcfbe4;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar a:hover {
    background-color: rgb(14, 241, 71)
}

/* Body */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

/* Heading Text */

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
}

/* Jumbotron */

.jumbotron {
    width: 80%;
    text-align: center;
    background-color: #F1F6F8;
    padding-top: 10%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Searchbar */

searchweather {
    background-color: #ffffff;
    align-items: center;
}

.searchbox {
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

.searchicon {
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 7px;
}
/* Card */

.card {
    text-align: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    font-size: 32px;
    font-weight: 500;
}

.card-img {
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.guidanceicons span {
    display: inline-block;
    margin: 20px;
    font: large;
}

.guidance p {
    font-size: 40px;
}
/* Footer */

footer {
    text-align: center;
    background-color: #133C55;
}

footer a {
    color: #fcfbe4;
    text-decoration: none;
}

footer p {
    color: #fcfbe4;
    text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .card {width: 90%;}
    .card-img {width: 90%;};
}

@media only screen and (min-width: 600px) {
    .card {width: 100%;}
    .card-img {width: 100%;};
}