/* Navigation Bar */

.navbar {
    background-color: #133C55;
}

.navbar a {
    text-decoration: none;
    color: #fcfbe4;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.navbar a:hover {
    background-color: rgb(14, 241, 71)
}

/* Body */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

/* Heading Text */

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

/* Jumbotron */

.jumbotron {
    width: 80%;
    text-align: center;
    background-color: #F1F6F8;
    padding-top: 10%;
    padding-bottom: 5%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Searchbar */

searchweather {
    background-color: #ffffff;
    align-items: center;
}

.searchbox {
    border: none;
    border-radius: 10px;
    text-align: center;
    outline: none;
    width: 80%;
}

.searchicon {
    border: none;
    outline: none;
    background-color: #ffffff;
    border-radius: 7px;
}

/* Card */

.card {
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    border: none;
    width: 80%;
    display: flexbox;
}

.card-header {
    font-size: 50px;
    font-weight: 500;
    background: none;
    border: none;
    outline: none;
}

.card-img {
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    filter: brightness(90%);
    filter: drop-shadow(4px 0px 5px gray);
}

#citytemp {
    font-size: 40px;
    font-weight: 600;
}

/* Weather Guidance */

.guidanceicons span {
    margin: 30px;
    font: large;
}

.guidanceicons p {
    margin-top: 10px;
    font-size: 18px;
}

/* Footer */

footer {
    text-align: center;
    background-color: #133C55;
}

footer a {
    color: #fcfbe4;
    text-decoration: none;
}

footer p {
    color: #fcfbe4;
    text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .jumbotron {
        padding-top: 15%;
    }
    h4 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 22px;
    }
    .guidanceicons p {
        font-size: 24px;
    }
    h4 {
        font-size: 40px;
    }
    #citytemp {
        font-size: 60px;
    }
}

@media only screen and (min-width: 900px) {
    body {
        font-size: 32px;
    }
    .guidanceicons p {
        font-size: 32px;
    }
    h3 {
        font-size: 80px;
    }
    h4 {
        font-size: 50px;
    }
    #citytemp {
        font-size: 80px;
    }
}